<a class="news-source-item list-group-item list-group-item-action"
   [class.active]="isSelected"
   [class.private]="source.isPrivate"
   [ngbPopover]="popContent"
   #popover="ngbPopover"
   triggers="manual"
   (click)="handleClick()">
    <span [ngStyle]="{'background-image': source.imageUrl ?
        'url(' + source.imageUrl + ')' :
        'url(\'../../../../public/images/default-rss-icon.png\')'}"
        class="news-source-image pull-left"></span>
    <span class="news-source-name">{{source.name}}</span>
    <div class="pull-right">
        <i class="fa fa-lock private-icon" aria-hidden="true"
           *ngIf="source.isPrivate" title="This source is private"></i>
        <i class="fa fa-check" aria-hidden="true" *ngIf="source.isSubscribed"></i>
    </div>
</a>