.app-loading {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-loading h5 {
    line-height: 200px;
    vertical-align: middle;
}

body {
    overflow-x: hidden;
}

.bg-primary, .badge-primary, .list-group-item.active, .btn-primary {
    background-color: #336688 !important;
}

.btn-primary:hover {
    background-color: #28516C !important;
}

button {
    cursor: pointer;
}

.container-fluid {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/* Firefox red shadowed input border fixes */
:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow: none;
}

/* Loading */

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: relative;
}

.lds-dual-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #f8991d transparent #f8991d transparent;
    -webkit-animation: lds-dual-ring 1s linear infinite;
    animation: lds-dual-ring 1s linear infinite;
}

.lds-dual-ring {
    width: 69px !important;
    height: 69px !important;
    -webkit-transform: translate(-34.5px, -34.5px) scale(0.345) translate(34.5px, 34.5px);
    transform: translate(-34.5px, -34.5px) scale(0.345) translate(34.5px, 34.5px);
}