html, body {
    min-height: 100%;
    min-width: 300px;
    overflow-x: auto;
}

.app-loading {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-loading h5 {
    line-height: 200px;
    vertical-align: middle;
}

body {
    overflow-x: hidden;
}

.bg-primary, .badge-primary, .list-group-item.active, .btn-primary {
    background-color: #344D90 !important;
}

.dark-blue {
    background-color: #344D90;
}

.blue {
    background-color: #5CC5EF;
}

.orange {
    background-color: #FFB745;
}

.red {
    background-color: #E7552C;
}

a {
    color: #499DBF;
}

.nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
    background-color: #344D90;
}

.btn-info {
    background-color: #5CC5EF;
    border-color: #5CC5EF;
}

.btn-info:disabled {
    background-color: #7CD0F2;
    border-color: #7CD0F2;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active {
    background-color: #499DBF !important;
    border-color: #499DBF;
}

.btn-outline-info {
    color: #5CC5EF;
    border-color: #5CC5EF;
}

.btn-outline-info:disabled,
.btn-outline-info:active:disabled,
.btn-outline-info:hover:disabled {
    color: #499DBF !important;
    background-color: white !important;
    border-color: #499DBF;
}

.btn-outline-info:hover,
.btn-outline-info:active,
.btn-outline-info.active {
    color: white;
    background-color: #499DBF !important;
    border-color: #499DBF;
}

.btn-primary {
    background-color: #344D90;
    border-color: #344D90;
}

.btn-primary:disabled {
    background-color: #5C70A6;
    border-color: #5C70A6;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
    background-color: #293D73 !important;
    border-color: #293D73;
}

.btn-warning {
    background-color: #FFB745;
    border-color: #FFB745;
}

.btn-warning:disabled {
    background-color: #FFC56A;
    border-color: #FFC56A;
}

.btn-warning:hover:enabled {
    background-color: #CC9237 !important;
    border-color: #CC9237;
}

button {
    cursor: pointer;
}

button.btn-short {
    min-width: 150px;
}

.btn-full-length {
    width: 100%;
}

.container-fluid {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.validation-error-text {
    color: #E7552C;
    font-size: 13px;
}

/* Firefox red shadowed input border fixes */
:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow: none;
}