news-sources .news-source-item {
    cursor: pointer;
}

news-sources .news-source-item.selected {
    background-color: #014681;
}

news-sources .news-source-item-container {
    display: inline-block;
    padding-right: 5px;
}