<a class="news-source-item list-group-item list-group-item-action"
   [class.active]="isSelected"
   [class.private]="channel.isPrivate"
   [ngbPopover]="popContent"
   #popover="ngbPopover"
   triggers="manual"
   (click)="handleClick()">
    <div class="subscription-item-container pull-left">
        <span [ngStyle]="{'background-image': channel.imageUrl ?
            'url(' + channel.imageUrl + ')' :
            'url(\'/assets/default-rss-icon.png\')'}"
            class="news-source-image pull-left"></span>
        <span class="news-source-name">{{channel.name}}</span>
    </div>
    <div class="pull-right">
        <h6>
            <i class="fa fa-lock private-icon" aria-hidden="true"
           *ngIf="channel.isPrivate" title="This channel is private"></i>
        </h6>
        <h6><i class="fa fa-check" aria-hidden="true" *ngIf="channel.isSubscribed"></i></h6>
        <h6>
            <span class="badge badge-default"
                  [attr.title]="getSubscribersCountTitle(channel.subscribersCount)">
                {{channel.subscribersCount}}
            </span>
        </h6>
    </div>
</a>