<a class="news-source-item list-group-item list-group-item-action"
   [class.active]="isSelected"
   [class.private]="channel.isPrivate"
   [ngbPopover]="popContent"
   #popover="ngbPopover"
   triggers="manual"
   (click)="handleClick()">
    <span [ngStyle]="{'background-image': channel.imageUrl ?
        'url(' + channel.imageUrl + ')' :
        'url(\'/assets/default-rss-icon.png\')'}"
        class="news-source-image pull-left"></span>
    <span class="news-source-name">{{channel.name}}</span>
    <div class="pull-right">
        <i class="fa fa-lock private-icon" aria-hidden="true"
           *ngIf="channel.isPrivate" title="This channel is private"></i>
        <i class="fa fa-check" aria-hidden="true" *ngIf="channel.isSubscribed"></i>
        <span class="badge badge-default" title="Subscribed users">{{channel.subscribersCount}}</span>
    </div>
</a>