:host /deep/ button.btn-full-length {
    width: 100%;
}

:host /deep/ .private-icon {
    color: #e50000;
}

:host /deep/ i {
    padding-right: 10px;
}

:host /deep/ a.news-source-item.private {
    background-color: #fce5e5;
}

:host /deep/ .subscription-item-container {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}