<div class="available-news-sources-container">
    <div class="row">
        <div class="col-md-12">
            <div class="search-container">
                <div class="input-group input-group-sm">
                    <input name="search" type="text" class="form-control form-control-sm"
                           (keyup)="searchNewsSource($event)"
                           [(ngModel)]="search"
                           placeholder="Type news source name..."
                           required="true"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="news-sources-list" *ngIf="hasItems()" infinite-scroll
                 [infiniteScrollDistance]="3"
                 [infiniteScrollThrottle]="300"
                 [infiniteScrollDisabled]="!hasMoreItems"
                 [scrollWindow]="false"
                 (scrolled)="loadMore()">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let newsSource of pager.getItems()">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">{{newsSource.name}}</p>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-outline-success" (click)="subscribe(newsSource)"
                                        [disabled]="subscriptionInProgress">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div *ngIf="loadingInProgress" class="loading-more-icon-container">
                    <i class="fa fa-refresh fa-spin fa-2x fa-fw" aria-hidden="true"></i>
                </div>
            </div>
            <div *ngIf="!hasItems() && !loadingInProgress" class="loading-icon-container">
                <h5>No News Sources</h5>
            </div>
            <div *ngIf="!hasItems() && loadingInProgress" class="loading-icon-container">
                <i class="fa fa-refresh fa-spin fa-2x fa-fw" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>