available-news-sources .loading-icon-container {
    text-align: center;
    top: 50%;
    left: 50%;
}

available-news-sources .search-container {
    padding: 8px 0 8px 0;
}

available-news-sources li.list-group-item {
    padding: 5px 5px 5px 5px;
}

available-news-sources .news-sources-list {
    max-height: 500px;
    overflow: auto;
}

available-news-sources .loading-more-icon-container {
    display: table;
    margin: auto;
}