<div class="container-fluid">
    <div class="news-sources-settings-container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h5>Manage your subscriptions</h5>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="alert alert-danger" role="alert" *ngIf="submitFailed">
                    {{responseMessage}}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="submitSucceeded">
                    {{responseMessage}}
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ngb-tabset type="pills"
                            [activeId]="selectedTabId"
                            [destroyOnHide]="false"
                            (tabChange)="onTabChange($event)">
                    <ngb-tab id="subscribed" title="Subscribed">
                        <template ngbTabContent>
                            <div class="news-sources-container">
                                <news-sources-singleselect-list #subscribedSourcesList
                                              (onSelect)="subscribe($event)"
                                              (onDeselect)="unsubscribe($event)"
                                              [useSearch]="true"
                                              [onlySubscribed]="true">
                                </news-sources-singleselect-list>
                            </div>
                        </template>
                    </ngb-tab>
                    <ngb-tab id="all" title="All">
                        <template ngbTabContent>
                            <div class="news-sources-container">
                                <news-sources-singleselect-list #allSourcesList
                                              (onSelect)="subscribe($event)"
                                              (onDeselect)="unsubscribe($event)"
                                              [useSearch]="true"
                                              [onlySubscribed]="false">
                                </news-sources-singleselect-list>
                            </div>
                        </template>
                    </ngb-tab>
                    <ngb-tab id="add" title="Add">
                        <template ngbTabContent>
                            <add-news-source></add-news-source>
                        </template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>