:host /deep/ .list-heading {
    text-align: center;
    padding-bottom: 15px;
}

:host /deep/ .tab-content {
    padding: 5px 0 5px 0;
}

:host /deep/ h5 {
    padding-bottom: 10px;
}

:host /deep/ .news-sources-container {
    height: 57vh;
}

:host /deep/ .search-container {
    padding-bottom: 0 !important;
}

:host /deep/ .page-description-text {
    font-size: 14px;
    font-weight: 300;
}