.app-loading {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-loading h5{
    line-height: 200px;
    vertical-align: middle;
}

.container {
    padding-top: 10px;
}