<div class="container-fluid">
    <div class="news-container">
        <div class="row">
            <div class="col-md-12">
                <search (onSearch)="searchNews($event.inputValue)"
                        (onClear)="searchNews($event)"
                        [search]="search"></search>
                <div class="news-list-container" *ngIf="hasItems()" infinite-scroll
                     [infiniteScrollDistance]="1"
                     [infiniteScrollDisabled]="!hasMoreItems"
                     (scrolled)="loadMore()">
                    <div class="news-item list-group" *ngFor="let feedItem of items">
                        <div class="news-item-content flex-column align-items-stretch list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="news-item-header">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h3 class="news-item-title">
                                                <a class="news-item-link" target="_blank" href="{{feedItem.linkToSource}}">
                                                    {{feedItem.title}}
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="news-item-info-container">
                                            <h5>
                                                <span class="badge"
                                                  [attr.title]="feedItem.channels[0].name">
                                                {{feedItem.channels[0].name}}
                                                </span>
                                            </h5>
                                            <div id="otherSources" [ngbCollapse]="!feedItem.channelsListCollapsed">
                                                <h5>
                                                    <span *ngFor="let channel of getOtherChannels(feedItem)"
                                                          class="badge"
                                                          [attr.title]="channel.name">
                                                        {{channel.name}}
                                                    </span>
                                                </h5>
                                            </div>
                                            <span class="link pull-right" *ngIf="feedItem.channels.length > 1"
                                                  (click)="feedItem.channelsListCollapsed = !feedItem.channelsListCollapsed"
                                                  [attr.aria-expanded]="feedItem.channelsListCollapsed"
                                                  aria-controls="otherSources">
                                                     {{feedItem.channelsListCollapsed ? 'less channels' : 'more channels'}}
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="news-image-container" target="_blank" href="{{feedItem.linkToSource}}"
                                         [ngStyle]="{'background-image': feedItem.imageUrl ?
                                         'url(' + feedItem.imageUrl + ')' :
                                         'url(\'/assets/no-image.jpg\')'}">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="news-item-description mb-1" [innerHtml]="feedItem.description"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="news-item-date pull-right">{{feedItem.datePublished | date:'dd-MM-y, HH:mm'}}</span>
                                </div>
                            </div>
                            <div class="row" *ngIf="feedItem.tags.length">
                                <div class="col-md-12">
                                    <div class="news-item-footer">
                                        <div class="news-item-tag-container" *ngFor="let tag of feedItem.tags">
                                            <h5>
                                                <span class="tag badge"
                                                      (click)="selectTag(tag)"
                                                      ngClass="{{isTagSelected(tag) ? 'selected' : ''}}">
                                                    #{{tag}}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="hasItems() && loadingInProgress" class="loading-more-icon-container">
                    <loading></loading>
                </div>
                <div class="loading-status" *ngIf="!hasItems()">
                    <loading *ngIf="loadingInProgress"></loading>
                    <h5 *ngIf="!loadingInProgress">No feed</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<go-top-button [speed]="100"
               [acceleration]="10"
               [scrollDistance]="250"
               [html]="'<i class=\'fa fa-arrow-up go-top\'></i>'"
               [styles]="{
                            'height': '35px',
                            'width': '35px',
                            'right': '0',
                            'bottom': '2%',
                            'top': 'auto',
                            'border-radius': '0 0 0 0',
                            'box-sizing': 'content-box',
                            'padding': '0',
                            'z-index': '10100'
                       }"
></go-top-button>
<div class="refresh-button-container">
    <refresh-button (onRefresh)="refresh($event)" [isSpinning]="refreshInProgress"></refresh-button>
</div>