/* Containers */

:host /deep/ div.search-container {
    padding: 0;
}

:host /deep/ .feed-item-container {
    display: block;
    padding: 0;
    border: 0;
}

:host /deep/ .feed-container {
    min-height: 101vh;
}

:host /deep/ .feed-item-container .row {
    margin: 0;
    width: 100%;
}

:host /deep/ .feed-item-container,
.col-md-4.feed-item-image-container {
    padding: 0;
}

/* List */

:host /deep/ div.feed-item-list-group {
    margin: 10px 0 15px 0;
}

:host /deep/ .feed-item-list-group p, br {
    padding-bottom: 0;
}

:host /deep/ .feed-item-list-group h2, h3, h4, h5 {
    padding: 5px 0 5px 0;
    margin: 0;
}

/* Footer */

:host /deep/ .feed-item-footer {
    padding-top: 10px;
}

:host /deep/ .feed-item-footer h6, h5 {
    margin: 0;
}

/* Description */
/* Content */

:host /deep/ .feed-item-description {
    font-size: 0.85rem;
}

:host /deep/ .feed-item-description-content {
    padding: 10px 15px 10px 15px;
}

:host /deep/ .feed-item-content {
    background: linear-gradient(360deg, #ebebeb, #f5f5f5);
}

:host /deep/ .feed-item-description-content .col-md-12,
    .feed-item-content.col-md-8,
    .feed-item-container .col-md-12 {
    padding: 0;
}

/* Image */

:host /deep/ .feed-item-image {
    overflow: hidden;
    min-width: 100%;
    height: 100%;
    min-height: 150px;
    opacity: 1;
    display: block;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

:host /deep/ a.feed-item-image-cover {
    z-index: 200;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    opacity: 0.3;
    background-color: white;
    cursor: pointer;
}

:host /deep/ .loading-more-icon-container {
    display: table;
    margin: auto;
    height: 40px;
    width: 100%;
}

:host /deep/ .loading-status {
    width: 100%;
    display: table;
    padding: 20px 10px 20px 10px;
    text-align: center;
    vertical-align: middle;
}

:host /deep/ .loading-status h5 {
    display: table-cell;
}

:host /deep/ .loading-more-icon-container img {
    position: absolute;
    left: 0; right:0;
    margin: auto;
}

:host /deep/ .refresh-button-container {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 100;
    margin: 0;
}

:host /deep/ .refresh-button-container button {
    width: 40px;
    height: 40px;
    padding: 0;
    box-sizing: content-box;
}

/* Channels */

:host /deep/ .channels.row .col-md-12 {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

:host /deep/ .feed-item-channel-container {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    max-width: 100%;
    color: white;
    line-height: 1.2rem;
    font-size: 0.9rem;
    z-index: 200;
}

:host /deep/ .feed-item-channel-container.full-length {
    width: 100%;
}

:host /deep/ .feed-item-channel-container span, a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    line-height: 1rem;
    vertical-align: middle;
}

:host /deep/ .feed-item-channel-container a {
    padding-left: 5px;
}

:host /deep/ .feed-item-channel-container span.channel-name {
    display: inline-block;
    padding-right: 10px;
}

/* Tags */

:host /deep/ .feed-item-tag-container span {
    cursor: pointer;
}

:host /deep/ div.feed-item-tag-container {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 0;
}

:host /deep/ .feed-item-tag-container h5 {
    padding: 0;
}

:host /deep/ .feed-item-tag-container span.tag.badge {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.9rem;
    max-width: 100%;
}

:host /deep/ .feed-item-tag-container
    span.tag.badge.selected,
    span.tag.badge:hover {
    background-color: #499DBF;
}

:host /deep/ span.tag.badge.selected {
    cursor: not-allowed;
}

:host /deep/ i.go-top, refresh-button i {
    padding-bottom: 2px;
}

:host /deep/ .feed-item-date {
    font-size: 1rem;
}

/* Title */

:host /deep/ h5 {
    color: #636C72;
}

:host /deep/ .feed-item-title-container a {
    text-decoration: none;
    color: white;
    background-color: #344D90;
    line-height: inherit;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}

:host /deep/ .feed-item-title-container a:hover {
    background-color: #293d73;
    color: white;
}
