<div class="container-fluid">
    <div class="feed-container">
        <div class="row">
            <div class="col-md-12">
                <search (onSearch)="searchNews($event.inputValue)"
                        (onClear)="searchNews($event)"
                        [search]="search"></search>
                <div class="news-list-container" *ngIf="hasItems()" infinite-scroll
                     [infiniteScrollDistance]="1"
                     [infiniteScrollDisabled]="!hasMoreItems"
                     (scrolled)="loadMore()">
                    <div class="feed-item-list-group list-group" *ngFor="let feedItem of items">
                        <div class="feed-item-container flex-column align-items-stretch list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-md-4 feed-item-image-container">
                                    <a [title]="'Open link in new window'" href="{{feedItem.linkToSource}}" target="_blank" class="feed-item-image-cover"></a>
                                    <div class="feed-item-title-container">
                                        {{getFeedItemTitle(feedItem.title)}}
                                    </div>
                                    <div class="feed-item-image"
                                       [ngStyle]="{'background-image': feedItem.imageUrl ?
                                         'url(' + feedItem.imageUrl + ')' :
                                         'url(\'/assets/no-image.jpg\')'}">
                                    </div>
                                </div>
                                <div class="col-md-8 feed-item-content">
                                    <div class="row channels">
                                        <div class="col-md-12">
                                            <div class="feed-item-channel-container full-length">
                                                <span>{{feedItem.channels[0].name}}</span>
                                                <div class="more-channels-link-container pull-right" *ngIf="feedItem.channels.length > 1">
                                                    <a class="more-channels-link" (click)="feedItem.displayAll = !feedItem.displayAll" *ngIf="feedItem.channels.length > 1">
                                                        <i class="fa fa-chevron-down"
                                                           *ngIf="!feedItem.displayAll"
                                                           [attr.title]="feedItem.channels.length - 1 + ' more'"></i>
                                                        <i class="fa fa-chevron-up" *ngIf="feedItem.displayAll" title="hide"></i>
                                                    </a>
                                                </div>
                                                <div *ngIf="feedItem.displayAll">
                                                    <span class="channel-name" *ngFor="let channel of getOtherChannels(feedItem)">
                                                        {{channel.name}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feed-item-description-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="feed-item-description mb-1"
                                                     [innerHtml]="feedItem.description"></div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="feedItem.tags.length">
                                            <div class="col-md-12">
                                                <div class="feed-item-footer">
                                                    <div class="feed-item-tag-container" *ngFor="let tag of feedItem.tags">
                                                        <span class="tag badge blue"
                                                              [attr.title]="tag"
                                                              (click)="selectTag(tag)"
                                                              ngClass="{{isTagSelected(tag) ? 'selected' : ''}}">
                                                            #{{tag}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="feed-item-date pull-right">{{feedItem.datePublished | date:'dd-MM-y, HH:mm'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loading-more-icon-container">
                    <loading *ngIf="hasItems() && loadingInProgress"></loading>
                </div>
                <div class="loading-status" *ngIf="!hasItems()">
                    <loading *ngIf="loadingInProgress"></loading>
                    <h6 *ngIf="!loadingInProgress">No feed found</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<go-top-button [speed]="100"
               [acceleration]="10"
               [scrollDistance]="250"
               [html]="'<i class=\'fa fa-arrow-up go-top\'></i>'"
               [styles]="{
                            'height': '40px',
                            'width': '40px',
                            'right': '0',
                            'bottom': '2%',
                            'top': 'auto',
                            'border-radius': '0 0 0 0',
                            'box-sizing': 'content-box',
                            'padding': '0',
                            'z-index': '10100'
                       }"
></go-top-button>
<div class="refresh-button-container">
    <refresh-button (onRefresh)="refresh($event)" [isSpinning]="refreshInProgress"></refresh-button>
</div>