<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form novalidate #f="ngForm" (ngSubmit)="submit(f.valid)" *ngIf="!submitCompleted">
                <div class="form-group">
                    <label for="email">Enter your email and we will send you a letter
                        with further password reset instructions.</label>
                    <input id="email" type="email" class="form-control" name="email" [(ngModel)]="formData.email"
                           required  #email="ngModel"
                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                           placeholder="Email"/>
                    <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
                        Email is not in valid format.
                    </small>
                </div>
                <button type="submit" class="btn btn-info pull-right"
                        [disabled]="!f.valid || submitInProgress">Submit</button>
            </form>
            <p *ngIf="submitCompleted && submitSucceeded">Your request was accepted.
                Please, check your email for further password reset instructions.</p>
            <p *ngIf="submitCompleted && submitFailed">Something went wrong. Please, try again later.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>