<div class="sidebar-toggler-container" [@slideInOutToggler]="animationState">
    <a title="Toggle sidebar" (click)="toggle()">
        <i class="fa fa-filter pull-right"></i>
    </a>
</div>
<div class="sidebar-container" [@slideInOut]="animationState" [style.width.px]="defaultWidth" (swipeleft)="hide()">
    <div class="sidebar-content">
        <div class="sidebar-content-header">
            <h5>Feed options</h5>
            <a class="btn sidebar-close-btn pull-right" role="button" (click)="hide()">
                <i class="fa fa-close"></i>
            </a>
        </div>
        <div class="sidebar-main-content">
            <div class="news-sources-card card card-outline-primary text-xs-center">
                <div class="card-header">
                    <h6 class="pull-left">Channels</h6>
                    <span title="Clear" class="btn btn-sm clear pull-right"
                          (click)="clearChannels()"
                          [attr.disabled]="!selectedChannelsIds.length">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="card-block">
                    <div class="news-sources-container">
                        <channels-multiselect-list #channelsList
                                      (onSelect)="onSelectChannel($event)"
                                      (onDeselect)="onDeselectChannel($event)"
                                      [subscribed]="true"
                                      [initiallySelectedChannelsIds]="selectedChannelsIds"
                                      [noDataText]="'No subscribed channels'">
                        </channels-multiselect-list>
                    </div>
                </div>
            </div>
            <div class="tags-container">
                <div class="tags-list-container">
                    <tags-list (onDeselect)="onDeselectTag($event)"
                               (onClear)="onClearTags($event)"
                               [tags]="selectedTags">
                    </tags-list>
                </div>
            </div>
        </div>
        <small class="copyright">© 2017 FeedsCatcher</small>
    </div>
</div>
<div (click)="toggle()" [@appearInOut]="animationState" class="sidebar-backdrop"></div>
<div (swiperight)="show()" class="sidebar-swipe-area right"></div>