<div class="sidebar-container" [@slideInOut]="animationState" [style.width.px]="defaultWidth">
    <div class="sidebar-content">
        <div class="sidebar-content-header">
            <h3>Feed options</h3>
            <a class="btn sidebar-toggle-btn pull-right" role="button" (click)="hide()">
                <i class="fa fa-close"></i>
            </a>
        </div>
        <div class="sidebar-main-content">
            <div class="news-sources-card card card-outline-primary text-xs-center">
                <div class="card-header">
                    <h5 class="pull-left">Sources</h5>
                    <span title="Clear" class="btn btn-sm clear pull-right"
                          (click)="clearSources()"
                          [attr.disabled]="!selectedSourcesIds.length">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="card-block">
                    <div class="news-sources-container">
                        <news-sources-multiselect-list #newsSourcesList
                                      (onSelect)="onSelectSource($event)"
                                      (onDeselect)="onDeselectSource($event)"
                                      [onlySubscribed]="true"
                                      [initiallySelectedSourcesIds]="selectedSourcesIds"
                                      [noDataText]="'No subscribed RSS sources'">
                        </news-sources-multiselect-list>
                    </div>
                </div>
            </div>
            <div class="tags-container">
                <div class="tags-list-container">
                    <tags-list (onDeselect)="onDeselectTag($event)"
                               (onClear)="onClearTags($event)"
                               [tags]="selectedTags">
                    </tags-list>
                </div>
            </div>
        </div>
        <p class="copyright">© 2017 News Parser</p>
    </div>
</div>
<div (click)="toggle()" [@appearInOut]="animationState" class="sidebar-backdrop"></div>