<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div *ngIf="!submitComplete">
                <form novalidate #f="ngForm" (ngSubmit)="submit(f.valid)">
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" [(ngModel)]="resetPasswordForm.password"
                               required validateEqual="confirmPassword" reverse="true" #password="ngModel" minlength="8"
                               placeholder="New password">
                        <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                            Password is required (minimum 8 characters)
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="resetPasswordForm.confirmPassword"
                               required validateEqual="password" reverse="false" #confirmPassword="ngModel"
                               placeholder="Confirm new password">
                        <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                            Password mismatch
                        </small>
                    </div>
                    <button type="submit" class="btn btn-info pull-right"
                            [disabled]="!f.valid || submitInProgress">Submit</button>
                </form>
            </div>
            <div *ngIf="submitComplete">
                <div *ngIf="passwordResetSucceeded">
                    <p>Your password was reset. Use it to sign in now.</p>
                    <a href="#" routerLink="/sign-in" class="btn btn-success">Sign In</a>
                </div>
                <div *ngIf="passwordResetFailed">
                    <p *ngIf="errorMessage">{{errorMessage}}</p>
                    <p *ngIf="!errorMessage">Password reset failed.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>