<form name="add-news-source">
    <div class="input-group input-group-sm">
        <input name="rssUrl" type="text" class="form-control form-control-sm"
               [(ngModel)]="rssUrl" [disabled]="addingInProgress"
               placeholder="Paste RSS url" required="true"/>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-outline-success btn-sm"
                    (click)="addNewsSource()"
                    [disabled]="addingInProgress">
                <i class="fa fa-plus"></i>
            </button>
        </span>
    </div>
</form>
