:host /deep/ button[type=submit] {
    cursor: pointer;
}

:host /deep/ button:disabled {
    cursor: not-allowed;
}

:host /deep/ div.input-group {
    padding: 8px 0 8px 0;
}

:host /deep/ .input-group-btn {
    width: 35px;
    height: 30px;
}

:host /deep/ .validation-error-text {
    color: #BD362F;
}