<div class="news-sources-settings-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <add-news-source (onSourceAdded)="onSubscribed()"></add-news-source>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <news-sources #subscriptionsList
                          [useSearch]="true"
                          [onlySubscribed]="false"
                          (onSelect)="subscribe($event)"
                          (onDeselect)="unsubscribe($event)">
            </news-sources>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>