:host /deep/ .news-sources-settings-container {
    margin-top: 20px;
}

:host /deep/ .list-heading {
    text-align: center;
    padding-bottom: 15px;
}

:host /deep/ .news-sources-container {
    height: 70vh;
}