<div *ngIf="useSearch">
    <search (onSearch)="searchChannels($event.inputValue)"
            (onClear)="searchChannels($event)"></search>
</div>
<div class="news-sources-list-block" *ngIf="submitInProgress"></div>
<div class="news-sources-list-container">
    <div *ngIf="hasItems()" class="news-sources-list">
        <div class="list-group" *ngFor="let channel of items">
            <subscription-item [channel]="channel"
                               [isSelected]="isSelected(channel)"
                               [popContent]="popContent"
                               (onClick)="setCurrentChannel($event)">
            </subscription-item>
        </div>
    </div>
    <div *ngIf="!hasItems()" class="loading-status">
        <h6 *ngIf="!loadingInProgress">{{noDataText}}</h6>
        <loading *ngIf="loadingInProgress"></loading>
    </div>
</div>
<div class="pagination pull-right">
    <pagination [isFirstPage]="isFirstPage()"
                [isLastPage]="isLastPage()"
                (onFirstPage)="firstPage()"
                (onLastPage)="lastPage()"
                (onNextPage)="nextPage()"
                (onPrevPage)="prevPage()">
    </pagination>
</div>

<!-- Popover content -->
<ng-template #popContent class="news-source-popover-content">
    <div class="subscription-heading">
        <div class="subscription-title pull-left">
                            <span [ngStyle]="{'background-image': selectedChannel.imageUrl ?
                                'url(' + selectedChannel.imageUrl + ')' :
                                'url(\'/assets/default-rss-icon.png\')'}"
                                  class="news-source-image pull-left"></span>
            <strong class="news-source-name">{{selectedChannel.name}}</strong>
        </div>
        <a role="button" class="pull-right" (click)="unsetCurrentChannel()">
            <i class="fa fa-times" title="Close"></i>
        </a>
    </div>
    <div class="subscription-info">
        <p class="private-description" *ngIf="selectedChannel.isPrivate">
            This channel is private
            <i class="fa fa-lock private-icon" aria-hidden="true"></i>
        </p>
        <p *ngIf="selectedChannel.language">
            Language: <span class="source-language badge badge-info">{{selectedChannel.language}}</span>
        </p>
        <p>{{selectedChannel.description}}</p>
        <p><a href="{{selectedChannel.websiteUrl}}" target="_blank">{{selectedChannel.websiteUrl}}</a></p>
    </div>
    <button [disabled]="submitInProgress"
            *ngIf="!selectedChannel.isSubscribed" class="btn btn-success btn-sm btn-full-length"
            (click)="handleSubscription(selectedChannel)">
        Subscribe
    </button>
    <button [disabled]="submitInProgress"
            *ngIf="selectedChannel.isSubscribed" class="btn btn-warning btn-sm btn-full-length"
            (click)="handleUnsubscription(selectedChannel)">
        Unsubscribe
    </button>
</ng-template>
<!-- Popover content ends -->