<div *ngIf="useSearch">
    <search (onSearch)="searchChannels($event.inputValue)"
            (onClear)="searchChannels($event)"></search>
</div>
<div class="news-sources-list-container">
    <div *ngIf="hasItems()" class="news-sources-list">
        <div class="list-group" *ngFor="let channel of items">
            <subscription-item [channel]="channel"
                               [isSelected]="isSelected(channel)"
                               [popContent]="popContent"
                               (onClick)="setCurrentChannel($event)">
            </subscription-item>
        </div>
        <div *ngIf="loadingInProgress" class="loading-more-icon-container">
            <i class="fa fa-refresh fa-spin fa-1x fa-fw" aria-hidden="true"></i>
        </div>
    </div>
    <!-- Popover content -->
    <ng-template #popContent class="news-source-popover-content">
        <i class="fa fa-fa-times pull-right" title="Close" (click)="currentPopover.close()"></i>
        <div class="subscription-info">
            <p class="subscription-title">
                            <span [ngStyle]="{'background-image': selectedChannel.imageUrl ?
                                'url(' + selectedChannel.imageUrl + ')' :
                                'url(\'../../../../public/images/default-rss-icon.png\')'}"
                                  class="news-source-image pull-left"></span>
                <strong class="news-source-name">{{selectedChannel.name}}</strong>
            </p>
            <p *ngIf="selectedChannel.language">
                Language: <span class="source-language badge badge-info">{{selectedChannel.language}}</span>
            </p>
            <p>{{selectedChannel.description}}</p>
            <p><a href="{{selectedChannel.websiteUrl}}" target="_blank">{{selectedChannel.websiteUrl}}</a></p>
        </div>
        <button *ngIf="!selectedChannel.isSubscribed" class="btn btn-success btn-sm btn-full-length"
                (click)="handleSubscription(selectedChannel)">
            Subscribe
        </button>
        <button *ngIf="selectedChannel.isSubscribed" class="btn btn-warning btn-sm btn-full-length"
                (click)="handleUnsubscription(selectedChannel)">
            Unsubscribe
        </button>
    </ng-template>
    <div *ngIf="!hasItems()" class="loading-status-container">
        <h5 *ngIf="!loadingInProgress">{{noDataText}}</h5>
        <i *ngIf="loadingInProgress" class="fa fa-refresh fa-spin fa-1x fa-fw" aria-hidden="true"></i>
    </div>
</div>
<div class="pagination pull-right">
    <pagination [isFirstPage]="isFirstPage()"
                [isLastPage]="isLastPage()"
                (onFirstPage)="firstPage()"
                (onLastPage)="lastPage()"
                (onNextPage)="nextPage()"
                (onPrevPage)="prevPage()">
    </pagination>
</div>