<div class="card card-outline-primary text-xs-center">
    <div class="card-header">
        <h6 class="pull-left">Tags</h6>
        <span title="Clear" class="btn btn-sm clear pull-right"
                (click)="clearTags()"
                [attr.disabled]="!tags.length">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </span>
    </div>
    <div class="card-block">
        <div class="tag-container" *ngFor="let tag of tags">
            <h5>
                <span class="tag badge blue" (click)="deselectTag(tag)" [attr.title]="tag">
                    #{{tag}}
                </span>
            </h5>
        </div>
        <div *ngIf="!tags.length" class="no-data-text">
            <h6 class="text-center">
                No tags selected
            </h6>
        </div>
    </div>
</div>