tags-list .tag-container {
    display: inline-block;
    padding-right: 5px;
    max-width: 100%;
}

tags-list .tag-item {
    cursor: pointer;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 70%;
    max-width: 100%;
}

tags-list .no-tags-text {
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
}

tags-list .tag-input-container {
    padding: 5px 0 5px 0;
}

tags-list div.card-header, div.card-block {
    padding: 8px 8px 8px 8px;
}

tags-list button.close, h5, p {
    padding: 0 0 0 0;
}

tags-list p {
    margin-bottom: 0;
    color: #636C72;
    font-weight: lighter;
}