<div class="news-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="refresh-button-container">
                <refresh-button (onRefresh)="refresh($event)" [isSpinning]="refreshInProgress"></refresh-button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="news-sources-container">
                        <news-sources (onSelect)="onSelectSource($event)"
                                      (onDeselect)="onDeselectSource($event)"
                                      [onlySubscribed]="true"
                                      [initiallySelectedSourcesIds]="selectedSourcesIds"
                                      [noDataText]="'No subscribed news sources'"></news-sources>
                    </div>
                </div>
            </div>
            <div class="row tags-container" *ngIf="selectedTags.length">
                <div class="col-md-12">
                    <h5>Tags</h5>
                    <div class="tags-list-container">
                        <tags-list (onDeselect)="onDeselectTag($event)"
                                      [tags]="selectedTags"></tags-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <search (onSearch)="searchNews($event.inputValue)" [search]="search"></search>
            <div class="news-container" infinite-scroll
                 [infiniteScrollDistance]="4"
                 [infiniteScrollThrottle]="300"
                 [infiniteScrollDisabled]="!hasMoreItems"
                 (scrolled)="loadMore()">
                <div class="news-item list-group" *ngFor="let newsItem of items">
                    <div class="news-item-content flex-column align-items-stretch list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="news-image-container"
                                     [ngStyle]="{'background-image': newsItem.imageUrl ?
                                     'url(' + newsItem.imageUrl + ')' :
                                     'url(\'../../../../public/images/no-image.jpg\')'}">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="news-item-info-container">
                                    <div class="mb-1 pull-right">
                                        <small>{{newsItem.dateAdded | date}}</small>
                                        <h4 class="news-item-source">
                                        <span class="badge badge-primary"
                                              [attr.title]="newsItem.source.name">{{newsItem.source.name}}</span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="news-item-header">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">
                                            <a class="news-item-link" target="_blank" href="{{newsItem.linkToSource}}">
                                                {{newsItem.title}}
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="news-item-description mb-1" [innerHtml]="newsItem.description"></div>
                            </div>
                        </div>
                        <div class="row" *ngIf="newsItem.tags.length">
                            <div class="col-md-12">
                                <div class="news-item-footer">
                                    <div class="news-item-tag-container" *ngFor="let tag of newsItem.tags">
                                        <h6>
                                        <span class="badge badge-default" (click)="selectTag(tag)">
                                            {{tag}}
                                        </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="hasItems() && loadingInProgress" class="loading-more-icon-container">
                    <i class="fa fa-refresh fa-spin fa-2x fa-fw" aria-hidden="true"></i>
                </div>
                <div class="loading-status">
                    <i *ngIf="!hasItems() && loadingInProgress"
                       class="fa fa-refresh fa-spin fa-2x fa-fw" aria-hidden="true"></i>
                    <h5 *ngIf="!hasItems() && !loadingInProgress">No News</h5>
                </div>
            </div>
        </div>
        <go-top-button [animate]="true"
                       [speed]="100"
                       [acceleration]="10"
                       [scrollDistance]="250"
                       [html]="'<i class=\'fa fa-arrow-up\'></i>'"
                       [styles]="{
                            'height': '65px',
                            'left': '0',
                            'border-radius': '0 3px 3px 0'
                       }"
        ></go-top-button>
    </div>
</div>