:host /deep/ div.news-container {
    margin-top: 10px;
}

:host /deep/ div.news-item {
    margin: 10px 0 10px 0;
    font-size: small;
}

:host /deep/ .news-item p, br {
    padding-bottom: 0;
}

:host /deep/ h5 {
    color: #636C72;
}

:host /deep/ .news-item h2, h3, h4, h5 {
    font-size: 1rem;
    padding: 5px 0 5px 0;
    margin: 0;
}

:host /deep/ .news-item-source {
    display: inline-block;
}

:host /deep/ .news-item-source span {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 70%;
}

:host /deep/ .news-item-footer {
    padding-top: 10px;
}

:host /deep/ .news-item-footer h6 {
    margin: 0;
}

:host /deep/ div.news-item-content img {
    padding: 5px;
}

:host /deep/ div.news-item-info-container {
    width: 100%;
}

:host /deep/ .news-image-container {
    overflow: hidden;
    min-width: 100%;
    min-height: 120px;
    opacity: 0.5;
    display: block;
    background-size: cover;
    background-position: center;
    margin: 5px 0 5px 0;
}

:host /deep/ .loading-more-icon-container {
    display: table;
    margin: auto;
}

:host /deep/ div.news-item-tag-container {
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 5px;
}

:host /deep/ .news-item-content.list-group-item-action:focus,
.news-item-content.list-group-item-action:hover {
    background-color: white;
}

:host /deep/ .news-item-link {
    color: #636c72;
}

:host /deep/ .news-item-link:hover {
    color: #636c72;
}

:host /deep/ .news-item-tag-container span {
    cursor: pointer;
}

:host /deep/ .loading-status, .loading-status h5 {
    text-align: center;
    vertical-align: middle;
    line-height: 50vh;
}

:host /deep/ .row.tags-container {
    margin-top: 10px;
}

:host /deep/ .refresh-button-container {
    position: fixed;
    top: 50%;
    bottom: 50%;
    right: 0;
    z-index: 100;
    margin: 0;
}

:host /deep/ .refresh-button-container button {
    width: 35px;
    height: 35px;
}

:host /deep/ .news-item-info-container {
    font-size: 16px;
}

:host /deep/ span.link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size: 11px;
}

:host /deep/ .news-item-info-container span.badge {
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

:host /deep/ span.tag.badge-default.selected,
        span.tag.badge-default:hover {
    background-color: #4d5257;
}

:host /deep/ span.tag.badge-default.selected {
    cursor: not-allowed;
}

:host /deep/ div.news-sources-card div.card-block {
    padding: 0;
}

:host /deep/ div.news-sources-card .list-group-item {
    border: none;
}

:host /deep/ div.news-sources-card div.card-header {
    padding: 8px 8px 8px 8px;
}

:host /deep/ div.news-sources-card div.card-header h5 {
    padding: 0;
}

:host /deep/ div.news-sources-card div.card-block h5 {
    padding: 5px 5px 5px 5px;
}

:host /deep/ div.news-sources-card .news-sources-list-container {
    border: none;
}

:host /deep/ .news-sources-container {
    height: 50vh;
}

:host /deep/ tags-list .card {
    height: 20vh;
}

:host /deep/ h3.news-item-title {
    font-weight: normal;
}