<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
         <div class="news-container" *ngIf="hasItems()" infinite-scroll
             [infiniteScrollDistance]="4"
             [infiniteScrollThrottle]="300"
             [infiniteScrollDisabled]="!hasMoreItems"
             (scrolled)="loadMore()">
            <div class="news-item list-group" *ngFor="let newsItem of pager.getItems()">
                <a target="_blank" href="{{newsItem.linkToSource}}"
                   class="news-item-link list-group-item list-group-item-action flex-column align-items-start">
                    <div class="news-item-info-container">
                        <div class="mb-1 pull-right">
                            <small>{{newsItem.dateAdded | date}}</small>
                            <span class="badge badge-default badge-pill">{{newsItem.sourceName}}</span>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{newsItem.title}}</h5>
                    </div>
                    <div class="news-item-content mb-1" [innerHtml]="newsItem.description"></div>
                </a>
            </div>
             <div *ngIf="loadingInProgress">
                 Loading...
             </div>
        </div>
        <div *ngIf="!hasItems()">No News</div>
    </div>
    <go-top-button [scrollYDistance]="250"></go-top-button>
</div>
