<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h5>Edit your profile settings</h5>
            <ngb-tabset [activeId]="selectedTabId">
                <ngb-tab id="profile" title="Profile">
                    <ng-template ngbTabContent>
                        <edit-profile></edit-profile>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="password" title="Password">
                    <ng-template ngbTabContent>
                        <change-password></change-password>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>