<div *ngIf="useSearch">
    <search (onSearch)="searchNewsSource($event.inputValue)"
            (onClear)="searchNewsSource($event)"
            [placeholderCaption]="'Type news source name...'"></search>
</div>
<div class="news-sources-list-container">
    <div *ngIf="hasItems()" class="news-sources-list">
        <div class="list-group" *ngFor="let source of items">
            <subscription-item [source]="source"
                               [isSelected]="isSelected(source)"
                               [popContent]="popContent"
                               (onClick)="setCurrentSource($event)">
            </subscription-item>
        </div>
        <div *ngIf="loadingInProgress" class="loading-more-icon-container">
            <i class="fa fa-refresh fa-spin fa-1x fa-fw" aria-hidden="true"></i>
        </div>
    </div>
    <!-- Popover content -->
    <ng-template #popContent class="news-source-popover-content">
        <i class="fa fa-fa-times pull-right" title="Close" (click)="currentPopover.close()"></i>
        <div class="subscription-info">
            <p class="subscription-title">
                            <span [ngStyle]="{'background-image': selectedSource.imageUrl ?
                                'url(' + selectedSource.imageUrl + ')' :
                                'url(\'../../../../public/images/default-rss-icon.png\')'}"
                                  class="news-source-image pull-left"></span>
                <strong class="news-source-name">{{selectedSource.name}}</strong>
            </p>
            <p *ngIf="selectedSource.language">
                Language: <span class="source-language badge badge-info">{{selectedSource.language}}</span>
            </p>
            <p>{{selectedSource.description}}</p>
            <p><a href="{{selectedSource.websiteUrl}}" target="_blank">{{selectedSource.websiteUrl}}</a></p>
        </div>
        <button *ngIf="!selectedSource.isSubscribed" class="btn btn-success btn-sm btn-full-length"
                (click)="handleSubscription(selectedSource)">
            Subscribe
        </button>
        <button *ngIf="selectedSource.isSubscribed" class="btn btn-warning btn-sm btn-full-length"
                (click)="handleUnsubscription(selectedSource)">
            Unsubscribe
        </button>
    </ng-template>
    <div *ngIf="!hasItems()" class="loading-status-container">
        <h5 *ngIf="!loadingInProgress">{{noDataText}}</h5>
        <i *ngIf="loadingInProgress" class="fa fa-refresh fa-spin fa-1x fa-fw" aria-hidden="true"></i>
    </div>
</div>
<div class="pagination pull-right">
    <pagination [isFirstPage]="isFirstPage()"
                [isLastPage]="isLastPage()"
                (onFirstPage)="firstPage()"
                (onLastPage)="lastPage()"
                (onNextPage)="nextPage()"
                (onPrevPage)="prevPage()">
    </pagination>
</div>