<div *ngIf="useSearch">
    <search (onSearch)="searchNewsSource($event.inputValue)" [placeholderCaption]="'Type news source name...'"></search>
</div>
<div *ngIf="useRefresh">
    <refresh-button (onRefresh)="reload($event)"></refresh-button>
</div>
<div *ngIf="hasItems()" class="news-sources-list" infinite-scroll
     [infiniteScrollDistance]="3"
     [infiniteScrollThrottle]="300"
     [infiniteScrollDisabled]="!hasMoreItems"
     [scrollWindow]="false"
     (scrolled)="loadMore()">
    <div class="list-group">
        <a *ngFor="let newsSource of items" class="news-source-item list-group-item list-group-item-action"
           [class.active]="isSourceSelected(newsSource)"
           (click)="isSourceSelected(newsSource) ? deselectNewsSource(newsSource) : selectNewsSource(newsSource)"
           [attr.title]="newsSource.name">
            {{newsSource.name}}
        </a>
    </div>
    <div *ngIf="loadingInProgress" class="loading-more-icon-container">
        <i class="fa fa-refresh fa-spin fa-1x fa-fw" aria-hidden="true"></i>
    </div>
</div>
<div class="row" *ngIf="hasItems() && pager.getPagesAmount() > 1">
    <div class="col-md-12">
        <div class="paging">
            <button [disabled]="isFirstPage()" type="button" class="paging-button"
                    (click)="prevPage()">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
            <button [disabled]="isLastPage()" type="button" class="paging-button"
                    (click)="nextPage()">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<div *ngIf="!hasItems()" class="loading-status-container">
    <h5 *ngIf="!loadingInProgress">No News Sources</h5>
    <i *ngIf="loadingInProgress" class="fa fa-refresh fa-spin fa-1x fa-fw" aria-hidden="true"></i>
</div>