:host /deep/ .news-source-item {
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 70%;
    padding: 5px 5px 5px 5px;
}

:host /deep/ .news-source-item.active {
    color: white;
}

:host /deep/ .news-source-item-container {
    display: inline-block;
    padding-right: 5px;
    max-width: 100%;
}

:host /deep/ .news-sources-list-container {
    border: 1px solid #2780E3;
    height: 100%;
    overflow-y: auto;
}

:host /deep/ .news-sources-list .list-group-item {
    border-left: none;
    border-right: none;
}

:host /deep/ .news-sources-list .list-group-item:first-child {
    border-top: none;
}

:host /deep/ .news-sources-list .list-group-item:first-child {
    border-bottom: none;
}

:host /deep/ .loading-more-icon-container {
    display: table;
    margin: auto;
}

:host /deep/ .loading-status-container {
    padding: 10px 10px 10px 10px;
    display: table;
    height: 100%;
    width: 100%;
}

:host /deep/ .loading-status-container h5, i {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

:host /deep/ .paging {
    text-align: center;
}

:host /deep/ .paging-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 0;
    border-radius: 3px 3px 3px 3px;
}

:host /deep/ .paging-button:not([disabled]) {
    cursor: pointer;
}

:host /deep/ .paging-button:hover:not([disabled]), .paging-button:focus:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: white;
}

:host /deep/ .paging-button[disabled] {
    opacity: 0.7;
}

:host /deep/ .paging {
    padding-top: 5px;
}

:host /deep/ .paging div {
    display: inline;
}