news-sources .news-source-item {
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 70%;
    padding: 5px 5px 5px 5px;
}

news-sources .news-source-item.active {
    color: white;
}

news-sources .news-source-item-container {
    display: inline-block;
    padding-right: 5px;
    max-width: 100%;
}

news-sources .news-sources-list {
    max-height: 400px;
    overflow-y: auto;
}

news-sources .loading-more-icon-container {
    display: table;
    margin: auto;
}

news-sources .loading-status-container, .loading-status-container h5 {
    text-align: center;
    vertical-align: middle;
    line-height: 50vh;
}

news-sources .paging {
    text-align: center;
}

news-sources .paging-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 0;
    border-radius: 3px 3px 3px 3px;
}

news-sources .paging-button:not([disabled]) {
    cursor: pointer;
}

news-sources .paging-button:hover:not([disabled]), .paging-button:focus:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: white;
}

news-sources .paging-button[disabled] {
    opacity: 0.7;
}

news-sources .paging {
    padding-top: 5px;
}

news-sources .paging div {
    display: inline;
}