<search (onSearch)="searchChannels($event.inputValue)"
        (onClear)="searchChannels($event)"></search>
<div class="news-sources-list-container">
    <div *ngIf="hasItems()" class="news-sources-list">
        <div class="list-group" *ngFor="let channel of items">
            <channel-item [channel]="channel"
                              [isSelected]="isSelected(channel)"
                              (onClick)="handleSelection($event.channel)">
            </channel-item>
        </div>
    </div>
    <div *ngIf="!hasItems()" class="loading-status">
        <h6 *ngIf="!loadingInProgress">{{noDataText}}</h6>
        <loading *ngIf="loadingInProgress"></loading>
    </div>
</div>
<div class="selected-sources-count pull-left">
    <small *ngIf="selectedChannelsIds.length">{{selectedChannelsIds.length}} selected</small>
    <small *ngIf="!selectedChannelsIds.length">Nothing selected</small>
</div>
<div class="pagination pull-right">
    <pagination [isFirstPage]="isFirstPage()"
                [isLastPage]="isLastPage()"
                (onFirstPage)="firstPage()"
                (onLastPage)="lastPage()"
                (onNextPage)="nextPage()"
                (onPrevPage)="prevPage()">
    </pagination>
</div>