<div class="news-page-content">
    <sidebar #sidebarComponent
             (onHide)="onSidebarHidden()"
             (onShow)="onSidebarShown()"
             (onChannelSelected)="onChannelSelected($event)"
             (onChannelDeselected)="onChannelDeselected($event)"
             (onChannelsCleared)="onChannelsCleared($event)"
             (onTagDeselected)="onTagDeselected($event)"
             (onTagsCleared)="onTagsCleared($event)"
             [selectedTags]="selectedTags"
             [selectedChannelsIds]="selectedChannelsIds">
    </sidebar>
    <div class="news-container" [style.margin-left.px]="marginLeft"
         [ngClass]="sidebarComponent.isVisible() ? 'news-container-hidden' : ''">
        <div class="container-fluid sidebar-toggler-container">
            <a title="Toggle sidebar" role="button" class="btn btn-sm btn-primary"
               (click)="sidebarComponent.toggle()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <feed-list #feedListComponent
                   [initialSearch]="initialSearch"
                   [initialPage]="initialPage"
                   [selectedTags]="selectedTags"
                   [selectedChannelsIds]="selectedChannelsIds"
                   (onTagSelected)="onTagSelected($event)"
                   (onSearch)="onSearch($event)"
                   (onPageChanged)="onPageChanged($event)">
        </feed-list>
    </div>
</div>
<div class="lock" *ngIf="showLockScreen()"></div>