<div class="news-page-content">
    <sidebar #sidebarComponent
             (onHide)="onSidebarHidden()"
             (onShow)="onSidebarShown()"
             (onChannelSelected)="onChannelSelected($event)"
             (onChannelDeselected)="onChannelDeselected($event)"
             (onChannelsCleared)="onChannelsCleared($event)"
             (onTagDeselected)="onTagDeselected($event)"
             (onTagsCleared)="onTagsCleared($event)"
             [selectedTags]="selectedTags"
             [selectedChannelsIds]="selectedChannelsIds">
    </sidebar>
    <div class="news-container" [style.margin-left.px]="marginLeft"
         [ngClass]="sidebarComponent.isVisible() ? 'news-container-hidden' : ''">
        <feed-list #feedListComponent
                   [initialSearch]="initialSearch"
                   [initialPage]="initialPage"
                   [selectedTags]="selectedTags"
                   [selectedChannelsIds]="selectedChannelsIds"
                   (onTagSelected)="onTagSelected($event)"
                   (onSearch)="onSearch($event)"
                   (onPageChanged)="onPageChanged($event)">
        </feed-list>
    </div>
</div>
<div class="lock" *ngIf="showLockScreen()"></div>