@media (max-width: 600px) {
    :host /deep/ .news-container-hidden {
        display: none !important;
    }
}

:host /deep/ .card-block {
    background-color: white;
}

:host /deep/ div.lock {
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: block;
    position: fixed;
    top: 0;
}