<div class="landing-container blue">
    <div class="heading-container">
        <h3>FeedsCatcher</h3>
        <h6>Be sure to catch every feed in the ocean of world news.</h6>
    </div>
    <div class="body-container orange">
        <h6>News feed is refreshed every 15 minutes.</h6>
        <h6>RSS and Atom support.</h6>
        <h6>Hash tags filtering.</h6>
        <h6>Ability to add your own channels or subscribe to the existing.</h6>
        <h6>Ability to make your channels private to be sure that no one else has access to them.</h6>
        <h6>No need to register by email: sign in with facebook or google.</h6>
    </div>
</div>