<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div *ngIf="submitSucceeded">
                <p *ngIf="responseMessage">{{responseMessage}}</p>
            </div>
            <div *ngIf="submitFailed">
                <p *ngIf="!responseMessage">Account confirmation failed.</p>
                <p *ngIf="responseMessage">{{responseMessage}}</p>
            </div>
            <a *ngIf="!authService.isAuthenticated()" href="#" class="btn btn-primary btn-md pull-right"
               routerLink="/sign-in">
                Sign In
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>