:host /deep/ .sign-in-form {
    padding-bottom: 10px;
    min-width: 230px;
}

:host /deep/ button {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:host /deep/ .validation-error-text {
    color: #BD362F;
}

:host /deep/ .forgot-password-link span {
    vertical-align: middle;
    line-height: 100%;
}

