<div class="news-sources-settings-container">
    <div class="row">
        <div class="col-md-12">
            <add-news-source></add-news-source>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="list-heading">Your news sources</h3>
            <user-subscriptions></user-subscriptions>
        </div>
        <div class="col-md-6">
            <h3 class="list-heading">Available news sources</h3>
            <available-news-sources></available-news-sources>
        </div>
    </div>
</div>